<aside class="sidebar-right">
  <div class="menu-direita">
    <div class="background">
      <img src="posttemp.png" alt="background">
    </div>

    <div class="pfp">
      <img [src]="usuarioImagem || 'pfptemp.ico'" alt="foto de perfil">
    </div>

    <div class="edit-profile">
      <span (click)="goConfig()"><i class="bi bi-pencil-square"></i> Editar perfil</span>
    </div>

    <div class="profile">
      <!-- Nome e função do usuário -->
      <h2>{{ usuarioNome }}</h2>
      <p class="desc">{{ usuarioFuncao }} {{ usuarioMatricula }}</p>

      <div class="item-list">
        <!-- <a (click)="goHome()"><i class="bi bi-envelope"></i> Convites</a>
        <a (click)="goHome()"><i class="bi bi-bookmark"></i> Itens Salvos</a>
        <a (click)="goConfig()"><i class="bi bi-gear"></i> Configurações</a> -->
        <a (click)="logout()" class="logout">
          <i class="bi bi-door-open"></i> Sair
        </a>
      </div>
    </div>
  </div>
</aside>
