<div class="post">
  <div class="user">
    <div class="img">
      <img src="pfptemp.ico">
    </div>
    <div>
      <h2>{{ post.criadorId || 'Usuário Anônimo' }}</h2>
      <p>{{ post.criado | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>
  </div>

  <div class="content">
    <h2>{{ post.titulo }}</h2>
    <p class="description">{{ post.corpo }}</p>
  </div>

  <div class="interaction">
    <div class="left">
      <div class="interaction-btn">
        <i class="bi bi-hand-thumbs-up"></i>
        <p>{{ post.likesId?.length || 0 }}</p>
      </div>

      <div class="interaction-btn">
        <i class="bi bi-chat-left-text"></i>
        <p>{{ post.idComentarios?.length || 0 }}</p>
      </div>
    </div>

    <div class="right">
      <i class="bi bi-bookmark"></i>
    </div>
  </div>
</div>
