<div class="post">
  <div class="post-header">
    <img class="avatar" src="pfptemp.ico" alt="Foto de perfil" />
    <div class="post-info">
      <h2>
        <ng-container *ngIf="usuarioLogado()?.id === post.criadorId; else outroUsuario">
          {{ post.nomeCriador }} • você
        </ng-container>
        <ng-template #outroUsuario>
          {{ post.nomeCriador || 'Usuário Anônimo' }}
        </ng-template>
      </h2>
      <span class="date">{{ dataFormatada }}</span>
    </div>
  </div>

  <div class="post-body">
    <h3 class="post-title">{{ post.titulo }}</h3>
    <p class="post-text">{{ post.corpo }}</p>

    <img *ngIf="post.imagemBase64" [src]="post.imagemBase64" alt="Imagem do post" class="post-image" />

    <div *ngIf="post.ehOportunidade" class="oportunidade-info">
      <p>Vagas: {{ post.vagasPreenchidas ?? 0 }}/{{ post.quantidadeDeVagas }}</p>
      <p class="candidatos">Candidatos: {{ contadorCandidatos() }}</p>
    </div>
  </div>

  <div class="post-footer">
    <button class="icon-btn like-btn" [class.liked]="curtiu()" (click)="alternarLike()">
      <i class="bi bi-hand-thumbs-up"></i>
      <span>{{ contadorLikes() }}</span>
    </button>

    <button class="icon-btn" (click)="openNewComment()">
      <i class="bi bi-chat-left-text"></i>
      <span>{{ post.idComentarios?.length || 0 }}</span>
    </button>

    <button class="icon-btn">
      <i class="bi bi-bookmark"></i>
    </button>

    <button
      *ngIf="post.ehOportunidade && tipoUsuario() === 'aluno'"
      class="btn-candidatar"
      [disabled]="jaCandidatado() || post.finalizada"
      (click)="candidatar()"
    >
      {{ post.finalizada ? 'Finalizada' : (jaCandidatado() ? 'CANDIDATADO ✓' : 'CANDIDATAR-SE') }}
    </button>
  </div>
</div>

<!-- Modal de nova postagem -->
      <div
        class="modal-overlay"
        *ngIf="newCommentModal()"
        (click)="closeNewComment()"
      >
        <div class="modal-conteudo" (click)="$event.stopPropagation()">
           <div class="modal-topo">
          <textarea
            placeholder="Escreva seu comentário..."
            [(ngModel)]="novoComentario">
          </textarea>

          <button (click)="enviarComentario()">
            Enviar
          </button>
        </div>

        <!-- PARTE INFERIOR (SCROLL) -->
        <div class="modal-comentarios">
          <div class="comentario" *ngFor="let c of comentarios">
            <strong>{{ c.autor }}</strong>
            <p>{{ c.texto }}</p>
          </div>
        </div>
        </div>
      </div>